[submodule "backend"]
	path = backend
	url = https://github.com/Jefferson-Silva-Geronimo/crudVeiculos-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Jefferson-Silva-Geronimo/crudVeiculos-Frontend.git
